* {
    box-sizing: border-box;
}

.margine {
    padding: 0 50px;
}

body {
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* background-color: wheat; */
}


#main-text {
    font-size: 70px;

}

main {
    z-index: 100;
    background-color: white;
}

.section {
    padding-top: 57px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: navy;
    padding: 0 0 20px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #0C7075;
    padding: 0px 0 10px 0;
}



.under-line {
    text-decoration: underline;


}

/* about section */
#about{
    /* background-color: red; */
    height: 100vh;
}

#about-wrapper {

    /* background-color: red; */
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;

}

#about-wrapper>div:nth-child(2) {
    width: 1000px;
    height: 100vh;

}


#profile-pic {
    width: 400px;
    height: 400px;
    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 30px;
    background-color: rebeccapurple;
    background-image: url('../img/1.jpg');
    background-position: top;
    background-size: cover;
   
    border: 0.4px solid rgba(0, 0, 0, 0.274);


}



#about-wrapper>div:last-child>p {
    color: black;
    font-size: 17px;
    line-height: 1.65;
    text-align: justify;
    font-weight: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(91, 91, 226, 0.274);
}
.color0{
    transition: box-shadow 2s ease-out;
    border: 0.5px solid transparent;
   
}

.shadow2{
    border: 0.5px solid black;
    box-shadow: 0 0 20px black;
}




/* skills */
#skills{
 
    /* background-color: #0C7075; */
}

.c-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 20px;
  
}
.color1{
    background-color: rgba(0, 128, 0, 0.137);
    transition: box-shadow 2s ease-out;
    border: 0.5px solid transparent;

}

.c-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-right: 90px;
    text-align: end;
    font-size: 17px;
    font-weight: 500;

}

.c-icon {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    text-align: center;
    

}

.c-icon>span {
    border-radius: 50%;
    padding: 20px;
    background-color: navy;

    font-size: 1.5rem;
    padding: 12px;
    color: white;

}
.c-icon>span:hover{
    background-color: rgba(0, 0, 128, 0.616);

}

.c-right {
    padding-left: 60px;
    width: 600px;
    font-size: 17px;
  

}

.skill {
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;

}

/* experince */

#experience{
    /* background-color: blueviolet; */

}
.color2{
    background-color: rgba(108, 145, 35, 0.555);
    transition: box-shadow 2s ease-out;
    border: 0.5px solid transparent;
}


/* projects */

#proj-section-wrapper {
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proj-wrapper {
    width: 300px;
    background-color: aquamarine;
    text-align: center;
    padding: 10px 0;
}

.proj-wrapper>h4 {
    padding: 10px 0;
}

.base {
    width: 300px;
    height: 300px;
    background-color: rebeccapurple;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.base>img {
    width: auto;
    height: 100%;
}

.cover {
    width: 300px;
    height: 300px;
    background-color: rgba(153, 205, 50, 0.37);
    position: absolute;
    bottom: 100%;
    transition: bottom 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}


/* button,a{
    width: 200px;
    text-decoration: none;
    border: none;
    padding: 5px 0;
    font-size: 16px;
    /* background-color: #0C7075; */
/* color: black; */
/* } */
*/
/* 
button:hover,
.cover>a:hover{
    background-color: #0c707563;
    border: 0.5px solid lightblue;
    cursor: pointer;
} */

.base:hover .cover {
    bottom: 0;
}



/* pop up */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.popup-content {
    background-color: #fff;
    padding: 20px 40px;
    width: 800px;
    height: calc(100vh - 10px);
    overflow-y: auto;
    text-align: center;
}

.popup-content p {
    margin-bottom: 10px;
}

.popup-content h3 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.popup-content h5 {
    font-size: 20px;

    padding-bottom: 12px;
}

.popup-content button {
    margin-left: auto;
    margin-right: auto;
}

/* education */
.color3{
    background-color:rgba(187, 108, 187, 0.342);
    transition: box-shadow 2s ease-out;
    border: 0.5px solid transparent;
}






/* ----------------------------- */


/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: white;
}

footer>div {
    display: flex;
    gap: 20px;
}


/* section selection stage */
/* .section:hover h2{
    text-decoration: underline;
    

} */
#skills:hover nav>div {
    /* background-color: #0e4091a9; */
    /* border-radius: 10px; */
    background-color: red;
}