header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
   
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }
  
  #video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  nav {
    width: 100%;
    
    height: 52px;
    background-color: #072e33c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 2; /* Added z-index */
    /* Additional styles for navigation bar */
  }


  nav{
    width: 100%;
    
    height: 52px;
    background-color: #072e33c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
   
    
}
nav div,
nav a{
    color: white;
}

#right-nav{
    display: flex;

}

#left-nav{
    padding: 10px;  
    transition: text-shadow 0.3s ease-in-out;
}

#left-nav:hover,
#right-nav>div:hover{
    background-color: #0C7075;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    text-shadow: 2px 2px 8px black;
}
#right-nav>div{
    padding: 10px;
    transition: text-shadow 0.3s ease-in-out;
}



#right-nav>div>a{
    text-decoration: none;
} 

  
header>h2,h1{
    padding: 0;
    margin: 0;
    z-index: 3;
}

header>h2{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding: 5px 0;
}

header>h1{
    font-size: 20px;
    font-style: italic;
    color: white;
}


#arrow-wrapper{
    margin-top: 110px;
    height: 40px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.185);
    z-index: 4; 
    position: relative;
    text-align: center;
    
}
#arrow-wrapper>span{
    font-size: 30px;
    color: white;
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
  
    animation: arrow 2s infinite;
   
}

#arrow-wrapper:hover{
    cursor: pointer;
}

@keyframes arrow {
    0% {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
     
    }
    50% {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
     
    }
    100% {
      top: 0;
     
    }
  }

  

